body{
    background-color: skyblue;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
body:has(.t:checked){
    background-color: black;
}
.rec{
    width: 90%;
    max-width: 600px;
    height: clamp(80px, 20vw, 200px);
    background-color: lightgrey;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 200px;
}
.t{
    display: none;
}
.circle{
    height: clamp(70px, 19vw, 190px);
    width: clamp(70px, 19vw, 190px);
    background-color: skyblue;
    transform: translateY(5px) translateX(5px);
    border-radius: 50%;
    transition: background-color 0.3s ease;
    transition: transform 0.3s;
}
.t:checked + .circle{
    transform: translateX(calc(100% + 5px)) translateY(5px);
    background-color: black;
}
.sun{
    width: 85%;
    height: 85%;
    margin-left: 7.5%;
    margin-top: 7.5%;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  .moon{
    width: 85%;
    height: 85%;
    margin-left: 7.5%;
    margin-top: 7.5%;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .t:checked + .circle .sun {
    opacity: 0;
  }
  .t:checked + .circle .moon {
    opacity: 1;
  }